<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" shutdownHook="disable">
    <Properties>
        <Property name="LOG_DIR">log</Property>
        <!--        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [(%t) %-30c{2}] %highlight{%-5level} %msg%n-->
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} %msg%n
        </Property>
        <Property name="MAX_FILE_SIZE">100MB</Property>
    </Properties>

    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- 主日志文件 -->
        <RollingFile name="MainFile"
                     fileName="${LOG_DIR}/app.log"
                     filePattern="${LOG_DIR}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- 其他日志配置 -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MainFile"/>
        </Root>
    </Loggers>
</Configuration>